html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    line-height: 200%;
    font-size: 18px;
    font-weight: 400;
}

#top {
    width: 60%;
    margin: auto;
}

#main-doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
}

#navbar {
    grid-column: 1/3;
    position: fixed;
    top: 50px;
    left: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main-section {
    padding: 50px;
    grid-column: 3/9;
    width: 100%;
}

header {
    font-size: 110%;
    font-weight: 700;
}

.secondaryHeader {
    font-size: 95%;
    font-weight: 600;
    text-align: left;
    margin-left: 25px;
}

.main-section ul li {
    text-align: left;
}

p,
img,
ul {
    padding: 20px;
}