html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
}

#top {
    width: 60%;
    margin: auto;
}

#main-doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
}

#navbar {
    grid-column: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#lets_get_started {
    color: darkcyan;
}

.main-section {
    padding: 100px;
    grid-column: 3/9;
    width: 100%;
}

header {
    font-size: 140%;
}

.secondaryHeader {
    font-size: 115%;
    text-align: left;
    margin-left: 25px;
}

.main-section ul li {
    text-align: left;
}

